<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<h1>Basic Grocery List</h1>
<form action="">
<input type="checkbox" name="bread" value="bread">bread<br>
<input type="checkbox" name="milk" value="milk">milk<br>
<input type="checkbox" name="eggs" value="eggs">eggs<br>
<input type="checkbox" name="cheese" value="cheese">cheese<br>
<input type="checkbox" name="pasta" value="pasta">pasta<br>
<input type="checkbox" name="macandcheese" value="macandcheese">mac and cheese<br>
<input type="checkbox" name="peanutbutter" value="peanutbutter">peanut butter<br>
<input type="checkbox" name="chicken" value="chicken">chicken<br>
<input type="checkbox" name="turkey" value="turkey">turkey<br>
<input type="checkbox" name="broccoli" value="broccoli">broccoli<br>
<input type="checkbox" name="apples" value="apples">apples<br>
<input type="checkbox" name="coffee" value="coffee">coffee<br>
<input type="checkbox" name="water" value="water">water<br>
<input type="checkbox" name="yogurt" value="yogurt">yogurt<br>
<input type="checkbox" name="waffles" value="waffles">waffles<br>
<input type="checkbox" name="salmon" value="salmon">salmon<br>
<input type="checkbox" name="frozenpizza" value="Bike">frozen pizza<br>
<input type="checkbox" name="tomatoes" value="Car">tomatoes<br>

</form>
<footer>
  <div class="container">
   / Taylor Greene 2015 / 
	Software Engineering / 
	Tech Exercise / 
	MW 12-1:15PM / 
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>
